.popup {
    position: fixed;
    left: calc(50% - 430px / 2);
    right: calc(50% - 430px / 2);
    top: calc(50% - 430px / 2);
    width: 430px;
    border-radius: 16px;
    background-color: white;
    display: none;
}

.overlay {
    content: '';
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
}

.overlay_open {
    visibility: visible;
    opacity: 1;
    -moz-transition: opacity 0.5s;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.popup_open {
    display: block;
    transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: all 0.5s;
}

.popup__close {
    background-color: rgba(0, 0, 0, 0.0);
    background-image: url(../../images/close.svg);
    width: 40px;
    height: 40px;
    position: absolute;
    top: -46px;
    right: -46px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-repeat : no-repeat;
    border: 0;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
    .popup {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 56px;
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-color: white;
    }
    
    .popup__close {
        background-color: rgba(0, 0, 0, 0.0);
        background-image: url(../../images/close.svg);
        background-size: cover;
        width: 24px;
        height: 24px;
        position: absolute;
        text-align: center;
        top: -35px;
        right: 5px;
        margin: 0;
        padding: 0;
        background-repeat : no-repeat;
        border: 0;
    }
}